.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
}

input,
.signup-button,
.login-button {
  margin: 5px 0px;
}

.signup-button,
.login-button {
  cursor: pointer;
}